body {
    background-color: #EDED5D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulos {
    font-size: 40px;
    padding: 30px;
    background-color: white;
}
.agrupar {
    width: 960px;
    margin: 36px auto;
    background-color: gray;
    
}
header, nav, article, section, footer, aside {
    display: block;
}
.seccion {
    margin: 20px 0;
    width: 600px;
    background-color: gray;
    float: left;
}
.barralateral {
    width: 30%;
    background-color: gray;
    float:right;
}
.pie {
    clear: both;
    text-align: center;
}
.logo {
    width: 30%;
    float:none;
    margin: 23px;
}
.menu {
    background-color:white;
    font-size: 25px;
    text-align: left;
}
.menu li {
    list-style: none;
    padding: 5px;
    display: inline-block
}